body
{
}
.Titulo_Accordion
{
	/*background-image: url(../RodiLeon/Imagenes/Fondo/titulo.jpg);
	background-repeat: repeat-x; */
    color:#007700;
    border-top:dotted 1px gray;
    
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    
}
.Titulo_selec
{
    border: 1px solid #2F4F4F;
    color: #FFFFF0;
    background-color: #1AA81F;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.contenido
{
    background-color: #FFFFF0;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}