	body {
		margin:0;
		padding:0;
		font: bold 11px/1.5em Verdana;
	}

    #menu {
      float:left;
      width:100%;
	background: url("../images/Menu_img2.png" ) repeat-x left top;
      font-size:100%;
      color:#2A3A57;
      line-height:normal;
      }
    #menu ul
{ 	margin: 0;
	list-style: none;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 14px;
	padding-top: 16px;

}


    #menu ul.right
{ float:right;
    display:inline;
	margin: 0;
	list-style: none;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 14px;
	padding-top: 16px;
}

    #menu ul.left
{ float:left;
    display:inline;
	margin: 0;
	list-style: none;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 14px;
	padding-top: 16px;
}


    #menu li {
      display:inline;
      margin:0;
      padding-bottom:20px;
      padding-top:17px;
      }
    #menu a
{
	/*background: url(   "../images/Menu_img2.jpg" ) no-repeat left top;*/
	background-position: 0% -95px;
	margin: 0;
	text-decoration: none;
	padding-right: 10px;
	padding-left: 5px;
	padding-bottom: 16px;
	padding-top: 17px;
}
    #menu a span
{
	color: #000000;
	background: url(   "../images/Menu_img2.png" ) repeat-x right top;
	background-position: 100% -95px;
	color: #FFFFFF;
	padding-right: 10px;
	padding-left: 5px;
	padding-bottom: 16px;
	padding-top: 17px;
}
/* IE 7 */
html > body #menu a span{
  *padding-bottom:16px;
  *padding-top:18px;
}

    #menu a.activo {      
      background-position: 0% -1px;
      color:#FFFF90;
      }
    #menu a.inactivo {      
      background-position: 0% -1px;
      color:#2A3A57;
      }
      
    #menu a.activo span {
      background-position: 100% -1px;
      color:#FFFF90;
      }
      #menu a.inactivo span {
      background-position: 100% -1px;
      color:#E6E6E6;
      }
      
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #menu a span {float:none;}
    /* End IE5-Mac hack */
    #menu a:hover span {
      color:#FFFFFF;
	  background-position:100% -48px;
      }
      
    #menu a.activo:hover {
      background-position:0% -1px;
      color: #FFFF90;
      }
      #menu a.inactivo:hover {
      background-position:0% -1px;
        color:#E6E6E6;
      }
      
    #menu a.activo:hover span {
      background-position:100% -1px;
      color: #FFFF90;
      }
      #menu a.inactivo:hover span {
      background-position:100% -1px;
      color:#E6E6E6;
      }
      
    #menu a:hover {
      background-position:0% -48px;
      color:#fff;
      }
    #menu a:hover span {
      background-position:100% -48px;
      color:#fff;
	  }


	  .SigAnt
	  {
		font-family:MS Reference Sans Serif;
		font-size:14px;
		color:#777777;
		font-weight:bold;
		text-decoration:none;
	  }
	  .CajaNumero
	  {
		 text-align:right;
		 background-color:#777777;
	  }
	.txtVarFallas
	{
		background-color:#FFFFC0; 
		color:Maroon;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		text-align:right;
	}
	.txtVarCorrecto
	{
		background-color:White;
		color:Black;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		text-align:right;
	}
	.txtVarSW
	{
		color:Black;
		font-weight:bold;
		text-align:right;
		background-color:#F0F0F0;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		text-align:right;
	}
	.txtRight
	{
		text-align:right;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		
	}
	#divResultado
	{
		width : 80%; 
		height: 100px; 
		overflow:auto;
		border: solid 1px; 
		list-style-position: outside; 
		cursor: auto; 
		list-style-type: disc; 
		text-align: left;
	}
	.BordesX{
         border-right: #990066 1px solid; border-top: #990066 1px solid; border-left: #990066 1px solid; border-bottom: #990066 1px solid;
      }
	/* Clases para la tabla*/
	 .linaBajo{
       text-align: center; 
      
       border-bottom:solid 1px #b9b9b9;
       border-left:solid 1px #b9b9b9;
    }
    .linaBajoV{
       text-align: center; 
       border-bottom:solid 1px #b9b9b9;
       border-left:solid 4px #b9b9b9;
    }
    .linaBajoS{
       text-align: center;  
       border-bottom:solid 4px #b9b9b9;
       border-left:solid 1px #b9b9b9;
    }
    .linaBajoE{
       text-align: center;  
       border-bottom:solid 4px #b9b9b9;
       border-left:solid 4px #b9b9b9;
    }
    .linaBajoAlto{
       text-align: center; 
   
       border-bottom:solid 1px #b9b9b9;
       border-top:solid 1px #b9b9b9;
       border-left:solid 1px #b9b9b9;
    }
    .Orila{
       border-left:solid 1px #b9b9b9;
    }
    .Sombreado
    {
		 background: #ebebeb; 
    }
	.fondoDegradado
	{
		/*background:#000000;
		 background:#222;*/
		 /*width:100%; 
		 height:100%; 
		 filter:Alpha(Opacity=100,FinishOpacity=0, Style=1, StartX=0, StartY=0, FinishX=0, FinishY=100%)*/
	}
	
	#divWait 
	{width: 100%; height: 100%; position:fixed; top:0; left:0;
	    z-index:15;}
	
	#divWait .fondoDegradado 
	{width: 100%; 
	 height: 100%; 
	 position:fixed;
	 top:0%; 
	 left:0%; 
	 background: #000000 url(../images/loading2.gif) no-repeat center center; 
	 text-align:center;  
	 filter:Alpha(Opacity=60); 
	 opacity:.6;}
	
	#divWait span
	{position:relative;
		top:60%;
	}	

	#ctl00_cphMainMaster_pnlOficializado 
	{
		position:absolute;
		top:1px;
		
		z-index:100;
	}
	
	/*Estilos para el encabezado*/
	
	#logo
	{
	    position:absolute; 
	    top:0px; 
	    height:60px;
	    z-index:5;
	    background:url('../images/ImagenTitulo.jpg') top right; 
	    background-repeat:no-repeat; 
	    text-align:center; 
	    width:125px; 
	    float:left; 
	    height:62px;
	}
	
	#header
	{
	    background:url('../images/FondoTitulo.jpg') repeat-x top right; 
	    width:100%;
	    text-align:center;
	}
	
	#header table
	{
	    width:1285px;
	    text-align:center;
	}
	
	#header td
	{
	    text-align:center;
	}
	
	#header span
	{
	    font-weight:bold; 
	    color:White;
	}