﻿body {
}
.Titulo
{
	font-weight: bold;
	font-size: 16px;
	color: #009900;
	font-family: Tahoma, Arial, Verdana;
}

.btnMorado
{
	font-weight: bold;
	font-size: 11px;
	color: #ffffff;
	font-family: Tahoma, Arial, Verdana;
	background-color: #a98be8;
	text-align: center;
}
.lblMorado
{
	font-weight: bold;
	font-size: 11px;
	color: #a98be8;
	font-family: Tahoma, Arial, Verdana;
	text-align: center;
}
.msg
{
	font-weight: bold;
	font-size: 12px;
	color: #990000;
	font-family: Tahoma, Arial, Verdana;
}

.titVerde
{
	font-size: 14px;
	color: #ffffff;
	font-family: Verdana, Tahoma, Arial;
	background-color: #009900;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

.lblVerde
{
	font-weight: normal;
	font-size: 12px;
	vertical-align: middle;
	color: #008b8b;
	font-family: Arial, Tahoma, Verdana;
	background-color: transparent;
	text-align: left;
}

.txtVerde
{
	font-size: 12px;
	color: #006600;
	font-family: Arial, Tahoma, Verdana;
	background-color: #C0FFCC;
	text-transform: uppercase;
}

.ddlVerde
{
	font-size: 12px;
	color: #006600;
	font-family: Arial, Tahoma, Verdana;
	background-color: #C0FFCC;
	text-transform: uppercase;
}

.fondoVerde
{
	background-color: #e3eee0;
	font-size: 11px;
	font-family: Arial, Verdana;
}

.fondoAzul
{
	background-color: #f5f5f5;
	font-size: 11px;
	font-family: Arial, Verdana;
}

.btnVerde
{
	font-size: 14px;
	color: #ffffff;
	font-family: Verdana, Tahoma, Arial;
	background-color: #009900;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}


.TituloNaranja
{
	font-size: 14px;
	color: #ffffff;
	font-family: Verdana, Tahoma, Arial;
	background-color: #cc6633;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

.lblNaranja
{
	font-weight: normal;
	font-size: 12px;
	vertical-align: middle;
	color: #663333;
	font-family: Arial, Tahoma, Verdana;
	background-color: transparent;
	text-align: left;
}

.txtNaranja
{
	font-size: 12px;
	color: #663333;
	font-family: Arial, Tahoma, Verdana;
	background-color: #ffe3c5;
	text-transform: uppercase;
}

.ddlNaranja
{
	font-size: 12px;
	color: #663333;
	font-family: Arial, Tahoma, Verdana;
	background-color: #ffe3c5;
	text-transform: uppercase;
}

.fondoNaranja
{
	background-color: #f9f5ed;
	font-size: 11px;
	font-family: Arial, Verdana;
}

.btnNaranja
{
	font-size: 14px;
	color: #ffffff;
	font-family: Verdana, Tahoma, Arial;
	background-color: #cc6633;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}



.lblAzul
{
	font-weight: normal;
	font-size: 12px;
	vertical-align: middle;
	color: #0000ff;
	font-family: Arial, Tahoma, Verdana;
	text-align: left;
}
.txtAzul
{
	font-size: 12px;
	color: #0000ff;
	font-family: Arial, Tahoma, Verdana;
	background-color: #eaf2fe;
	text-transform: uppercase;
}
.ddlAzul
{
	font-size: 12px;
	color: #0000ff;
	font-family: Arial, Tahoma, Verdana;
	background-color: #eaf2fe;
}
.txtTituloAzul
{
	font-size: 14px;
	color: #ffffff;
	font-family: Verdana, Tahoma, Arial;
	background-color: #3366cc;
	font-weight: bold;
	vertical-align: middle;
	list-style-type: circle;
	text-align: center;
}


.btnAzul
{
	font-size: 14px;
	color: #ffffff;
	font-family: Verdana, Tahoma, Arial;
	background-color: #3366cc;
	font-weight: bold;
	vertical-align: middle;
	list-style-type: circle;
	text-align: center;
}

.alignLeft
{
	text-align:left;
}

.lnkConcentrados
{
	font-size: 14px;
	color: #696969;
	font-weight: bold;
	font-family: Arial;
}
