<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Reporte.aspx.cs" Inherits="EstadisticasEducativas._911.fin.Reportes.Reporte" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Reportes</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Style="font-weight: bold; font-size: 16pt;
            text-transform: uppercase; color: red; font-style: italic; font-family: Sans-Serif"
            Text="Reporte no disponible"></asp:Label>
        <asp:HiddenField ID="hidIdCtrl" runat="server" />
    
    </div>
    </form>
</body>
</html>
